@import url('https://fonts.googleapis.com/css?family=Passion+One|Poiret+One|Raleway');

body,html{
  margin:0;
  padding:0;
  font-family: 'Raleway', sans-serif;
  font-size:16px;
  max-height:100vh;
}

.bg-cover{
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.black{color:#000 !important;}

section{display:inline-block;}

.full-width{width:100%;}

.full-height{min-height:100vh;}

.top-section{
  position:relative;
  overflow:hidden;
}

.nav{padding:10px 50px 10px 50px;}

.navbar-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar-list li{display:inline-block;color:#fff;text-shadow:1px 1px 1px #000;font-size:1.2em;padding:10px;}
.navbar-list li:not(:last-child){margin-right:15px;}

.container{max-width:1140px;margin:auto;}
.row{display:block;width:100%}

.img-responsive{width:100%;}

.logo{max-width:45px;vertical-align:middle;}

.brand-title{color:#fff;font-size:1.5rem;text-shadow:-1px 2px 5px #000;}

.align-right{float:right;}

/*======================*/
/*        GRID:         */
/*======================*/

.col{display:inline-block;}
.sl-12{width:100%}
.sl-6{width:49%;}

/*======================*/
.navbar-list li i {vertical-align:middle;color:#ccc;}
/*======================*/

.video-bg{
    width: 100%;
    min-height: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    -webkit-filter: grayscale(25%) blur(0.03rem);
    filter: grayscale(25%) blur(0.03rem);
    z-index:-2;
}

@media (min-aspect-ratio: 16/9) {
  .video-bg {
      width: 100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-bg {
      left: -5%;
      width: auto;
      height: 100%;
  }
}

.slogan{text-align:center;}
.slogan h1{font-family: 'Passion One', cursive;
font-size:3.5rem;font-weight:500;color:#fff;text-shadow:1px 1px 1px #000;position:relative;top:25vh;text-transform:uppercase;}
.slogan h2{font-family: 'Poiret One', cursive;
font-size:2rem;font-weight:500;color:#fff;text-shadow:1px 1px 1px #000;position:relative;top:20vh;}

.big-title h1{font-size: 7rem; text-align: left;top:8vh;}
.big-title h2{font-size: 3rem;top:1vh;text-align: left;}

.arrow{
  width:100%;
  position:absolute;
  margin:auto;
  bottom:0;
  text-align:center;
}

@keyframes bounce {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(-50%);
    }
}
.arrow a i{
  color:#fff;
  text-shadow:1px 1px 5px #000;
  font-size:2.5rem;
  animation: bounce 1.2s infinite ease-in;
}

.cover{z-index:-1;background:rgba(0,0,0,0.5);position:absolute;}

.colored-separator{
    border: none;
    height: 1px;
    width: 400px;
    margin: 30px 0 25px;
    background: #ff3535;
    background: -moz-linear-gradient(left, #ff3535 0%, #ffb22d 19%, #f7df00 37%, #26ff6c 56%, #268bff 76%, #8b3cff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff3535), color-stop(19%,#ffb22d), color-stop(37%,#f7df00), color-stop(56%,#26ff6c), color-stop(76%,#268bff), color-stop(100%,#8b3cff));
    background: -webkit-linear-gradient(left, #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%);
    background: -o-linear-gradient(left, #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%);
    background: -ms-linear-gradient(left, #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%);
    background: linear-gradient(to right, #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3535', endColorstr='#8b3cff',GradientType=1 );
}

#main-slogan p{margin: 0;}

/*=============================================================*/
/*                       #WORK SECTION:                        */
/*=============================================================*/

#work{
    background-image:url('../images/bg-work.jpg');
    background-attachment: fixed;
}

.title-work h2{
    margin:0;top:50px !important;position:relative !important;
    position: relative;
    border-left: 5px solid #00bbf4;
    padding-left: 10px;
    font-size: 4.2rem;
    font-weight: 300;
    color: #fff;
    font-family: 'Passion One', cursive;
    text-shadow: 1px 1px 1px #000;
}